* {
  font-family: 'Ubuntu', sans-serif;
}
/*
.bgimg {
  background: url('img/abstract1.jpg');
}
*/

/* night mode stuff */
body.night-mode {
  background: black;
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

#togBut {
  transition: all 0.2s ease 0s;
  float: right;
}

#togBut:hover {
  background: black;
  color: white;
}

#togBut:active {
  background: black;
  color: white;
}

#rider {
  width: 60ex;
  height: 80ex;
}
h1 {
  text-align: center;
  font-size: 2rem;
}

#essay-div {
  font-size: small;
}

/* logout button stuff */
#logout {
  float: right;
}

#logout:hover {
  background-color: red;
  color: white;
}

#logout1 {
  float: right;
  border-radius: 10px;
  font-size: medium;
  background-color: gainsboro;
  cursor: pointer;
}

#signin-div {
  text-align: -webkit-center;
}

#signinbutton {
  width: 220px;
  cursor: pointer;
}

#plzsignin {
  text-align: -webkit-center;
}

/*vv Tab stuff vv*/

.tab {
 overflow: hidden;
 border: none;
 background-color: aliceblue;
 margin: 0px; 
 border-radius: 10px;
}

.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 10px 15px;
 transition: 0.3s;
 font-size: medium;
}

.tab button:hover {
  background-color: #87ceeb99;
}

.tab button.active {
 background-color: skyblue;
}

.tabcontent {
 display: none;
 padding: 5px 5px;
 border: 1px solid whitesmoke;
 border-top: none;
 animation: fadeEffect .3s;
 background: transparent;
 border-radius: 5px;
 color: black;
}

/* Below is the second set of tabs */

.tab1 {
 overflow: hidden;
 border: none;
 background-color: aliceblue;
 margin: 0px; 
 border-radius: 10px;
}

.tab1 button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 5px 15px;
 transition: 0.3s;
 font-size: small;
}

.tab1 button:hover {
  background-color: #87ceeb99;
}

.tab1 button.active {
 background-color: skyblue;
}

.tabcontent1 {
 display: none;
 padding: 6px 12px;
 border: 1px solid #DCDCDC;
 border-top: none;
 animation: fadeEffect .3s;
 border-radius: 5px;
 background-color: #fff;
 background: transparent;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.topright {
  float: right;
  float: top;
  cursor: pointer;
  font-size: 15px;
}

/* iChat styling */
input#iChat-input {
  width: 60ex;
  margin: .5ex;
  margin-top: 5px;
}

div#iChat-messages {
  overflow: scroll;
  width: 50vmax;
  height: 30vmin;
  border: solid thin black;
  padding: .4ex;
  cursor: pointer;
  margin-top: 5px;
}

div#iChat-messages p {
  text-align: left;
  font-weight: bold;
}

span.iChat-timestamp {
  font-family: monospace;
  font-weight: bold;
  background-color: #eef;
  color: #66b;
}

span.iChat-username {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 .5ex;
}

span.iChat-text {
  font-weight: normal;
}

.iChat-messages {
  margin: 2px;
  text-align: left;
}

.iChat-messages strong {
  font-weight: bold;
}

.iChat-highlight {
  font-weight: bold;
  background-color: black;
  color: white;
}
/* other classes*/

.site {
  width: -webkit-fill-available;
  height: 83vmin;
}

.hidden {
 display: none;
}

.visible {
 display: block;
}

/* just the good ol' footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue; 
  color: #696969;
  text-align: center;
  font-size: 10px;
}